.env
.env.backup
.env.production
node_modules/
vendor/
.git/
.idea/
.vscode/
.fleet/
.nova/
.zed/
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
database/database.sqlite
database/database.sqlite-journal
tests/
phpunit.xml
.phpunit.cache/
.phpunit.result.cache
Homestead.yaml
Homestead.json
Dockerfile
